@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --bg-main: #171922;
    --text-light: #ffffff;
    --text-muted: #b0b0c0;
}


body {
    background-color: var(--bg-main);
}
h1 {
    font-family: "Unbounded", sans-serif;
    font-size: 30px;
    color: var(--text-muted);
    padding: 0;
    margin-bottom: 1rem;
}
p, a {
    font-size: 18px;
    color: var(--text-light);
    line-height: 1.5;
    text-decoration: none;
}


.banner {
    background: #082567;
    background: linear-gradient(90deg, rgba(8, 37, 103, 1) 0%, rgba(109, 80, 167, 1) 50%, rgba(133, 46, 69, 1) 100%);
    text-align: center;
    padding: 3rem 2rem;
    user-select: none;
    margin-bottom: 2rem;
}
.banner h1 {
    font-size: clamp(2rem, 8vw, 60px);
    white-space: nowrap;
    color: var(--text-light);
    padding: 0;
}
.banner p {
    font-size: clamp(1rem, 8vw, 20px);
    white-space: nowrap;
    padding: 0;
    padding-top: 10px;
}


main {
    margin: 0 20%;
}
section {
    padding-bottom: 3rem;
}


.video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}
.video iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}


.project-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}
.project-container a {
    line-height: 0;
}
.poster {
    width: 160px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.poster:hover {
    transform: scale(1.05);
}
.project-description {
    min-width: 200px;
    flex: 1;           /* Wichtig: Beschreibung füllt den restlichen Platz */
    word-wrap: break-word; /* Optional, für lange Wörter */
}



footer {
    text-align: center;
    padding: 2rem 0rem 2rem 0rem;
}
footer p, a {
    color: var(--text-muted);
    font-size: 16px;
}


@media (max-width: 600px) {
    main {
        margin: 0 2vh;
    }
    .project-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .poster {
        width: 100%;
        max-width: 300px;
    }
    .project-description {
        text-align: left;
    }
}